# TOTP Encryption key.
# This is used to encrypt the TOTP.
NEXT_PUBLIC_TOTP_ENCRYPTION_KEY=""

# Company Address for all page linking.
COMPANY_URL=""


# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""
SHADOW_DATABASE_URL=""
# RSA key pair for auth_account JWT signing (private) and verification (public)
AUTH_PUBLIC_KEY=""
AUTH_PRIVATE_KEY=""
