# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/database.log
base/logs/error.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*
.env*
.env

# firebase
firebase-debug.log
firestore-debug.log
/src/generated/prisma

certificates

# Error Logs
/core/logs/error.log


# RSA key pair for auth_acc JWT signing
app.private.key
app.public.key

# Neup Standard files.
logica
neup.logica
core
neup.core
local/accounts/permissions.json
local/accounts/roles.json
local/basics/permissions.json
local/basics/roles.json
